*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

:focus,
:focus-visible {
  outline: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  display: block;
  border: 0;
  background: transparent;
  padding: 0;
}

input,
textarea,
select,
button {
  max-width: 100%;
}

input,
textarea {
  width: 100%;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
